.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 1rem;

    .title {
        font-size: 2rem;
        margin-bottom: 0.8em;
        border: 1px solid black;
        flex-grow: 0;
        align-self: flex-start;
        border-radius: 10em 10em 10em 0 ;
        padding: 0.3rem 3rem;
        margin-left: .1rem;
        cursor: pointer;


    }
    .title:hover {
        background-color: black;
        color: #FFF;
    }
    .preview {
        display: flex;
        justify-content: space-between;
    }

    .collection-item {
        flex-grow: 1;
        padding: 0 .1rem;
     }
        
}
