.sign-up {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 0 1rem;

}


@media screen and (max-width: 700px) {
    .sign-up   {
        width: 100%;
        margin-top: 1rem;     
      }
  }
  