.directory-menu {
  width: 100%;
  height: 92vh;
  display: grid;
  grid-template-areas:
    "women  hats  men" 
    "women  hats  men" 
    "women  jackets men"
    "women  jackets men"
    "women  sneakers men" 
    "women  sneakers men" ;
  grid-gap: .1rem;
}

@media screen and (max-width: 1300px) {
  .directory-menu   {
    display: flex;
    flex-direction: column;
    }
}

